@model List<ProductDto> 

   
<section class="section">
      <div class="section1">
        <div class="img-slider">
          <img
            src="https://embawood.az/image/cache/catalog/Embacover/Kampaniya/super%20kredit%2012%20ayl%C4%B1q%20kreditle/super%20kredit_site_cover%20(1)-1370x535.jpg"
            alt=""
            class="img"
          />
          <img
            src="https://embawood.az/image/cache/catalog/Embacover/Kampaniya/Serhedsiz%20xeyallar%20/site_cover-1370x535.jpg"
            alt=""
            class="img"
          />
          <img
            src="https://embawood.az/image/cache/catalog/Embacover/Kampaniya/Buz%20kimi%20%C9%99riy%C9%99n%20f%C3%BCrs%C9%99tl%C9%99r/SUPER%20YAY%20kampaniyas%C4%B1_site-1370x535.jpg"
            alt=""
            class="img"
          />
        </div>
      </div>
      <div class="section2">
        <div class="container">
          @{
              foreach (var item in Model.Take(6))
                {
                   
                    <div class="items">
                     <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.Id">
                      <img id="yeniphoto" src="~/MemberPanel/images/Yeni.png" alt="">
                      <img id="mainphoto"
                        src="~/AdminPanel/img/product/@item.Image"
                        alt=""
                      />
                     </a>
                      <div class="items_bottom">
                        <div class="items_title">
                        <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.Id">
                        <h5>@item.Name</h5>
                        </a>
                          <p>@item.Price AZN</p>
                        </div>
                        <div class="items_icons">
                          <a asp-action="BasketAdd" asp-controller="Home" asp-route-id="@item.Id">
                          <i class="fa-solid fa-cart-plus"></i>
                          </a>
                          <a asp-action="Favorite" asp-controller="Home" asp-route-id="@item.Id">
                          <i class="fa-solid fa-heart"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                }
          }

        </div>
      </div>
    </section>
